main {
  display: flex;
  justify-content: center;
}

.item-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  margin-top: 2em;
  max-width: 1200px;
}

.item-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

p {
  text-align: justify;
}

p:first-child {
  font-weight: bold;
}
