.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 1em;
  gap: 4em;
}

.home-counters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.home-counters h2 {
  background-color: #ffffff;
  padding: 1em 2em;
  border-radius: var(--default-radius);
  font-weight: 500;
}

.btn-home {
  text-align: center;
  width: 100%;
  max-width: 400px;
  font-size: 24px;
  font-weight: bold;
  padding: 1.5em;
  border-radius: var(--default-radius);
  background-color: var(--primary-btn-color);
}

.btn-home:hover {
  background-color: var(--primary-btn-hover-color);
}
