main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
  margin-bottom: 2em;
}

.item-list {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  border: 2px solid;
  border-color: var(--nav-bg-color);
  border-radius: var(--default-radius);
}

.item {
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.item:first-child {
  background-color: var(--nav-bg-color);
  color: var(--nav-text-color);
}

.details-link {
  text-decoration: underline;
}

.product {
  grid-template-columns: repeat(5, 1fr);
}

.category {
  grid-template-columns: repeat(2, 1fr);
}

.item:nth-child(even) {
  background-color: var(--row-even-color);
}

.item:nth-child(2n + 3) {
  background-color: var(--row-odd-color);
}
