<main>
  <div class="item-container">
    <div class="item-section">
      <h3>Name:</h3>
      <p><%= category.name %></p>
    </div>
    <%- include("../partials/categoryButtons.ejs") %>
  </div>
</main>
