<div class="item category">
  <h3>
    <a class="details-link" href="/categories/<%= category.id %>"
      ><%= category.name %></a
    >
  </h3>
  <%- include("../partials/categoryButtons.ejs") %>
</div>
